# macOS system files
.DS_Store

# Ignore compiled output and intermediate build artifacts
bin/
obj/

# Visual Studio temporary files
.vs/

# Publish profiles
**/Properties/PublishProfiles/*

# NuGet packages and cached packages
packages/
.package-cache/

# Log and temporary files
*.log
*.tmp

# Compiled binary files
*.dll
*.exe

# Sensitive configuration files (if applicable)
appsettings.json

# Ignore .env files
.env

# Binaries and build output
**/bin/
**/obj/

# User-specific files
**/xs/UserPrefs.xml
